<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
    <web-app>
    <display-name>Bungee View</display-name>
        <servlet>
            <servlet-name>Bungee</servlet-name>
            <servlet-class>bungee.Bungee</servlet-class>
    
            <init-param>
                <param-name> server </param-name>
                <param-value> jdbc:mysql://localhost/ </param-value>
            </init-param>
            <init-param>
                <param-name> user </param-name>
                <param-value> p5 </param-value>
            </init-param>
            <init-param>
                <param-name> pwd </param-name>
                <param-value> p5pass </param-value>
            </init-param>
            <init-param>
                <param-name> dbs </param-name>
                <param-value>famsf,Collection of the Fine Arts Museums of San Francisco;chipapers,CHI Conference Papers;HP2,Historic Pittsburgh Photographs;HistoryMakers,The History Makers - Interviews;loc,Library of Congress American Memory Collection;ChartresVezelay,Art and Architecture Collections;Visuals,Visuals for Foreign Language Instruction;Movie,2007 InfoVis Contest Movies;personal,My Photos;music,Music</param-value>
            </init-param>
        </servlet>
    <servlet-mapping>
        <servlet-name>Bungee</servlet-name>
        <url-pattern>/Bungee</url-pattern>
    </servlet-mapping>
    </web-app>
    